<h1>Canal de YouTube</h1>
<hr>
<div class="card-columns">
    <div *ngFor="let video of videos" class="card">
        <img class="card-img-top" [src]="video.thumbnails.medium.url" [alt]="video.title">
        <div class="card-body">
            <h5 class="card-title">{{ video.title }}</h5>
            <button (click)="verVideo( video )" type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#videoModal">
                Ver video
            </button>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-12">
        <button (click)="cargarMas()" type="button" class="btn btn-outline-primary">Más videos</button>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyborad="false">
    <div class="modal-dialog" role="document">

        <div class="modal-content" *ngIf="selVideo">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ selVideo.title }}</h5>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="300" [src]="selVideo.resourceId.videoId | domseguro: 'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>
            </div>
        </div>

    </div>
</div>